html, body{
    height:100%;
}

body{
    background-image: url('./pexels-luis-leon-2569249.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
}

.frosted-glass{
    border:5px solid red;
    width:400px;
    height:400px;
}